/* @import "reset"; */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

/* //.myButton:hover {
}
.myButton:active {
  position:relative;
  top:1px;
}// */
body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.container {
  border: 2px solid RGBA(0, 51, 51, 1);
  border-radius: 10px; }

.buttons {
  height: 330px; }

.buttons button {
  height: 48px;
  border: 1px solid grey; }

.display {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: RGBA(76, 76, 76, 0.5);
  height: 80px; }
  .display:last-child {
    margin-right: 0; }

.clrminuspercent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0;
  background-color: RGBA(102, 153, 153, 1); }
  .clrminuspercent:last-child {
    margin-right: 0; }

.number {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0;
  background-color: RGBA(224, 224, 224, 1); }
  .number:last-child {
    margin-right: 0; }

.zero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
  background-color: RGBA(224, 224, 224, 1); }
  .zero:last-child {
    margin-right: 0; }

.operations {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0;
  background-color: RGBA(13, 77, 77, 1);
  color: #fff; }
  .operations:last-child {
    margin-right: 0; }
